.BlogPage {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
}

.ImageContainer {
  position: relative;
  width: 80%;
  height: 500px;
}

.BlogArticle {
  pre {
    white-space: break-spaces;
    word-break: break-word;
  }
}