.ImageContainer {
  width: 100%;
  height: 18rem;
  border-radius: 1.5rem;
  border-color: var(--primary);
  border-style: solid;
  border-width: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Image {
  padding: 0.75rem;
  border-radius: inherit !important;
  max-width: calc(100% - 24px);
  max-height: calc(100% - 24px);
  font-size: 148px;
}
