@import "../../styles/breakpoints.scss";

.FeatureTiles {
  display: flex;
  flex-direction: column;
  .LeftContent {
    align-self: center;
    padding: 5rem 0;
  }
  .ThreeColumns {
    display: grid;
    grid: auto-flow / repeat(1, 1fr);
    grid-gap: 2rem;
  }
}

@include from-small-up {
  .FeatureTiles {
    .ThreeColumns {
      grid: auto-flow / repeat(2, 1fr);
    }
  }
}
@include from-medium-up {
  .FeatureTiles {
    .ThreeColumns {
      grid: auto-flow / repeat(3, 1fr);
    }
  }
}
