@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";
@import "./breakpoints.scss";

:root {
  // text colors
  --text-primary: white;

  /* colors */
  --primary: #00ffc2;
  --primary-background: #171a1c;
  --secondary-background: #2c2f30;
}

html {
  height: 100%;
}

body {
  color: var(--text-primary);
  background: var(--primary-background);
  margin: 0px;
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

main {
  max-width: $breakpoint-xl;
  margin: 0 auto;
  flex: 1;
}

.display-desktop {
  display: none;

  @include from-medium-up {
    display: block;
  }
}

.hide-desktop {
  display: block;

  @include from-medium-up {
    display: none;
  }
}