@import "./breakpoints.scss";

.Main {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  margin-top: 24px;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  padding: 1.5rem 2rem;
}

@include from-medium-up {
  .Main {
    padding: 3rem 6rem;
  }
}